# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/hookies/node_modules
/hookies/.pnp
/hookies/.pnp.js

# testing
/hookies/coverage

# production
/hookies/build

# misc
/hookies/.DS_Store
/hookies/.env.local
/hookies/.env.development.local
/hookies/.env.test.local
/hookies/.env.production.local

/hookies/npm-debug.log*
/hookies/yarn-debug.log*
/hookies/yarn-error.log*


